{% extends "base.html" %} 
{% load static %} 

{% block title %} 
This Post Title 
{% endblock %} 

{% block css_files %} 
<link rel="stylesheet" href="{% static "blog/post-detail.css" %}" /> 
{% endblock %} 

{% block content %}
<section id="summary">
  <h2>Post Title</h2>
  <article>
    <img src="{% static "blog/images/mountains.jpg" %}" alt="Post Title" />
    <address>By Maximilian</address>
    <div>Last updated on <time>July 10th</time></div>
  </article>
</section>

<main>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nobis
    aperiam est praesentium, quos iste consequuntur omnis exercitationem quam
    velit labore vero culpa ad mollitia? Quis architecto ipsam nemo. Odio.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nobis
    aperiam est praesentium, quos iste consequuntur omnis exercitationem quam
    velit labore vero culpa ad mollitia? Quis architecto ipsam nemo. Odio.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nobis
    aperiam est praesentium, quos iste consequuntur omnis exercitationem quam
    velit labore vero culpa ad mollitia? Quis architecto ipsam nemo. Odio.
  </p>
</main>
{% endblock %}
