{% load static %}

<li>
  <article class="post">
    <a href="{% url "post-detail-page" "the-mountains" %}">
      <img src="{% static "blog/images/mountains.jpg" %}" alt="Mountain Hiking"
      />
      <div class="post__content">
        <h3>Mountain Hiking</h3>
        <p>
          There's nothing like the views you get when hiking in the mountains!
          And I wasn't even prepared for what happened whilst I was enjoying the
          view!
        </p>
      </div>
    </a>
  </article>
</li>
