{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %}You registered successfully!{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/registration-confirmation.css' %}">
{% endblock %}

{% block main_heading %}Thanks for signing up!{% endblock %}

{% block body %}
<section id="confirmation">
  <h2>You registered successfully!</h2>
  <p>Thanks for signing up - see you at the meetup!</p>
  <p>Got questions or can't make it? Please <a href="mailto:{{ organizer_email }}">contact the organizer</a> ahead of time!</p>
</section>

<section id="continue">
  <p>Of course you can sign up for more than one meetup!</p>
  <p><a href="/meetups" class="btn">Explore our Meetups</a></p>
</section>
{% endblock %}